# API base URL (Backend Server URL)
# Local: http://localhost:8000
# Production (Cloudtype): https://port-0-paw-mate-backend-msild8sz2d1b10c6.sel3.cloudtype.app
VITE_API_BASE_URL=https://port-0-paw-mate-backend-msiq1pqe2aa00cb9.sel3.cloudtype.app/

# Kakao OAuth Configuration
VITE_KAKAO_CLIENT_ID=16a5cc3c2d930524373be21f6bf96353
VITE_KAKAO_REDIRECT_URI=your_kakao_redirect_uri_here
